{% load static %}
<div class="jumbotron jumbo">
    <div class="container">

        <div class="row">

            <div class="col-lg-8  ">
                <a class="navbar-brand" href="/">
                    <img class="jumbo-brand-logo" src="{% static 'image/depositphotos_437325248-stock-illustration-creative-abstract-letter-logo-design.png' %}"
                        alt="">
                    <img class="jumbo-brand-name mt-3" src="{% static 'image/desponialogo1.png' %}" alt="">

                </a>
            </div>
            <div class="col-lg-4  ">
                {% if request.user.is_authenticated %}
                {% if request.user.setting.value == "light.css" %}
                <a class="noselect nav-link " onclick="swapStyles('dark.css')" href="">
                    <span class='text'>Dark Mode</span>
                    <span class="icon-darkmode">
                        <i class="material-icons mr-1" style="color:aliceblue">mode_night</i>
                    </span>
                </a>
                {%else%}
                <a class="noselect-light nav-link " onclick="swapStyles('light.css')" href="">
                    <span class='text'>Light Mode</span>
                    <span class="icon-lightmode">
                        <i class="material-icons mr-1" style="color:rgb(8, 8, 8)">brightness_7</i>
                    </span>
                </a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

</div>