{% autoescape off %}
<div class="container">

    <img class="footer-logo mt-3 ml-4" src="{% static 'image/desponialogodark.png' %}" alt="">
    <hr class="hr-about">

    Hi {{user.username}},

    We just need to verify your email address before you can access Desponia.
    
    Verify your email address http://{{domain}}{% url 'activate' uidb64=uid token=token %}
    
    Thanks! -- The Desponia Team.
    
    <hr class="hr-about">
    <img class="footer-logo mt-3 ml-4" src="{% static 'image/desponialogodark.png' %}" alt="">
    
</div>

{% endautoescape %}