<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background: #000;
        }
        div {
            font-size: 20px;
            color: white;
            padding: 22%;
            text-align: center;
        }
        a {
            color:#3391ff
        }
    </style>
</head>
<body>
    <div>
        something went wrong.. 
        <p>Go <a href="{% url 'home' %}">home</a></p>
    </div>
</body>
</html>