{% extends 'fixed/_base.html' %}
{% load static %}
{% block content %}

{% block title %}
    <title> Hierarchy - Desponia</title>
{% endblock %}

<div class="container  text-center my-5">

    <div class="title-effect">
        <h1 class="rank-name-profile">HIERARCHY</h1>
    </div>
    <p class="text-muted my-2" style="font-size: 18px;">To briefly explain hierarchy, it is the scoring of users according to the posts they
        publish,
        the questions they answer and the number of likes they receive. As a result of this scoring,
        the user is promoted to the rank in that score range.</p>
    <br>
    <br>
    <div class="l-container container my-5">

        <div class="b-game-card   ">
            <div class="b-game-card__cover " style="background-image: url('/static/image/kingofkings.jpg')">
                <div class="rank-interface mt-5">
                    <div class="title-effect">
                        <h1 class="hierarchy-name">king of kings</h1>
                    </div>
                    <img class="hierarchy-rank-image" src="{% static 'image/ranks/kingofkings2.gif' %}" alt="">
                    <div class="title-effect mt-2">
                        <h1 class="hierarchy-name"> &gt; 2000 </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
        <div class="b-game-card   ">
            <div class="b-game-card__cover " style="background-image: url('/static/image/angel.jpg')">
                <div class="rank-interface mt-5">
                    <div class="title-effect">
                        <h1 class="hierarchy-name">Guardian of galaxy</h1>
                    </div>
                    <img class="hierarchy-rank-image" src="{% static 'image/ranks/guardofgalaxy.gif' %}" alt="">
                    <div class="title-effect mt-2">
                        <h1 class="hierarchy-name"> &gt;  1200 </h1>
                    </div>
                </div>

            </div>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="b-game-card">
            <div class="b-game-card__cover " style="background-image: url('/static/image/nazgul.jpg')">
                <div class="rank-interface mt-5">
                    <div class="title-effect">
                        <h1 class="hierarchy-name">lord of shaddows</h1>
                    </div>
                    <img class="hierarchy-rank-image" src="{% static 'image/ranks/lordofshaddow.gif' %}" alt="">
                    <div class="title-effect mt-2">
                        <h1 class="hierarchy-name"> &gt;  800 </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="b-game-card">
            <div class="b-game-card__cover " style="background-image: url('/static/image/darknight.jpg')">
                <div class="rank-interface mt-5">
                    <div class="title-effect">
                        <h1 class="hierarchy-name">Dark Knight</h1>
                    </div>
                    <img class="hierarchy-rank-image" src="{% static 'image/ranks/knight.gif' %}" alt="">
                    <div class="title-effect mt-2">
                        <h1 class="hierarchy-name"> &gt;  400 </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="b-game-card">
            <div class="b-game-card__cover " style="background-image: url('/static/image/ghost.jpg')">
                <div class="rank-interface mt-5">
                    <div class="title-effect">
                        <h1 class="hierarchy-name">Ghost</h1>
                    </div>
                    <img class="hierarchy-rank-image" src="{% static 'image/ranks/ghost.gif' %}" alt="">
                    <div class="title-effect mt-2">
                        <h1 class="hierarchy-name"> &gt;  200 </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="b-game-card">
            <div class="b-game-card__cover " style="background-image: url('/static/image/spartacus.jpg')">
                <div class="rank-interface mt-5">
                    <div class="title-effect">
                        <h1 class="hierarchy-name">Gladiator</h1>
                    </div>
                    <img class="hierarchy-rank-image" src="{% static 'image/ranks/gladiator.gif' %}" alt="">
                    <div class="title-effect mt-2">
                        <h1 class="hierarchy-name"> &gt;  100 </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="b-game-card">
            <div class="b-game-card__cover " style="background-image: url('/static/image/assasin.jpg')">
                <div class="rank-interface mt-5">
                    <div class="title-effect">
                        <h1 class="hierarchy-name">Assasin</h1>
                    </div>
                    <img class="hierarchy-rank-image" src="{% static 'image/ranks/assasin.gif' %}" alt="">
                    <div class="title-effect mt-2">
                        <h1 class="hierarchy-name"> &gt;  50 </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="b-game-card">
            <div class="b-game-card__cover " style="background-image: url('/static/image/unnamed.jpg')">
                <div class="rank-interface mt-5">
                    <div class="title-effect">
                        <h1 class="hierarchy-name">Guardian of Nakamoto</h1>
                    </div>
                    <img class="hierarchy-rank-image" src="{% static 'image/ranks/guardianofnakamoto.gif' %}" alt="">
                    <div class="title-effect mt-2">
                        <h3 id="hierarchy-name-beginers">beginners</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}